

.entry-header .wp-post-image { margin-bottom: 24px; }
.entry-header .entry-title { margin-bottom: 22px; }

.entry-content p { line-height: 24px; margin-bottom: 22px; }

.entry-meta p { color: #777; line-height: 24px; font-size: 13px; }
.entry-meta p i { margin-right: 5px; font-size: 14px; }


.cdz_service .entry-meta .fa { font-size: 14px; }